/* Media Queries: Base breakpoints */
@use 'sass:map';

$breakpoints: (
  'sm': 500px,
  'lg': 1280px,
);

@mixin respond($breakpoint, $extra: null) {
  @if map.has-key($breakpoints, $breakpoint) {
    $media: '(max-width: #{map.get($breakpoints, $breakpoint)})';

    @if $extra != null {
      $media: '#{$media}, #{$extra}';
    }

    @media #{$media} {
      @content;
    }
  }
}
