//_variables.scss
/* Default Theme (System / Light fallback) */
:root {
  --bg: #f5e9d3; // песочно-теплый, не яркий
  --text: #2a2a2a;
  --primary: #f4a300; // насыщенный солнечный акцент
  --primary-hover: #d88f00;
  --secondary: #fff5e5; // для карточек/элементов
  --border: #e0c9a0;
  --btn-color: #e4e7ec; // цвет текста на кнопках
  --btn-border: #4c4f6c; // цвет рамки кнопок
  --btn-background: #5a73d7; // кнопки и элементы управления
  --error: #b94a48;
  --error-hover: #8a2c29;
  --track-bg: #c0b8ae; // светлый, теплый асфальт
  --track-line: #9e9387;
}

/* Dark Theme */
[data-theme='dark'] {
  --bg: #2b2e48; // мягкий, как небо после заката
  --text: #e4e7ec;
  --primary: #738ffe; // синий-фиолетовый акцент
  --primary-hover: #5a73d7;
  --secondary: #373a59; // карточки/фоновые блоки
  --border: #4c4f6c;

  --btn-color: #000000; // цвет текста на кнопках
  --btn-border: #6272ff; // цвет рамки кнопок
  --btn-background: #849cfc; // кнопки и элементы управления

  --error: #ff7676;
  --error-hover: #cc4c4c;
  --track-bg: #3a3d4d; // тёмный асфальт, ближе к фиолетовому
  --track-line: #5c5f72;
}
