//_variables.scss
:root {
  --bg: #2b2e48;
  --text: #e4e7ec;
  --primary: #738ffe;
  --primary-hover: #5a73d7;
  --secondary: #373a59;
  --border: #4c4f6c;

  --btn-color: #000000;
  --btn-border: #6272ff;
  --btn-background: #849cfc;
  --btn-hover: #757bef;
  --btn-disabled: #a2a4c7;

  --error: #ff7676;
  --error-hover: #cc4c4c;
  --track-bg: #3a3d4d;
}
