/* src/pages/GaragePage.module.scss */
@use '../../styles/index' as *;

.garagePage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  @include titleText;
  margin: 1rem;
}

.winnersButton {
  position: fixed;
  bottom: 5vh;
  right: 2vw;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 4px solid var(--btn-border);
  background-image: url(../../assets/winners.svg);
  background-position: center;
  background-size: cover;
  z-index: 10;
  font-size: large;
  font-weight: bold;
}
:global(.text--lowered) {
  transform: translateY(24px);
}

.trackContainer {
  width: 100%;
  overflow-x: hidden;
}

.garageEmptyPlaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20vh 0;
  @include bodyText;
}

.trackList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination {
  @include bodyText;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;

  gap: 1rem;
  margin-top: auto;
}
