.toggleWrapper {
	display: flex;
	align-items: center;
}

.toggleButton {
	background: transparent;
	border: none;
	font-size: 1.5rem;
	padding: 6px;
	border-radius: 8px;
	cursor: pointer;
	color: var(--text);
	transition: transform 0.3s ease, background-color 0.3s ease;

	&:hover {
		transform: scale(1.2);
		background-color: var(--accent-light);
	}

	&.active {
		color: var(--sidebar-active);
	}
}

@media (max-width: 600px) {
	/* .toggleWrapper {
		visibility: hidden;
	} */
}
