@use '../../styles/index' as *;

.carTrack {
  border-bottom: 2px solid rgb(0, 0, 133);
  margin: 1rem 0;
}

.trackHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    @include bodyText;
  }

  .statusOrTime {
    width: fit-content;
    display: flex;
    justify-content: right;
  }
}

.carId,
.carName,
.carStatus {
  margin-right: 1rem;
  @include bodyText;
}

.editButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0 1rem;
}

.deleteButton {
  background: none;
  border: none;
  padding: 0;
}

.secondLine {
  display: flex;
  flex-direction: row;
  align-items: center;

  .buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5vw;
    height: 100%;
    position: relative;
    gap: 0.5rem;

    @include respond('sm') {
      width: 15vw;
    }

    .startButton {
      padding: 0.2rem 0.5rem;
      width: 80%;
    }
    .resetButton {
      padding: 0.2rem 0.5rem;
      width: 80%;
    }
  }

  .trackWrapper {
    display: flex;
    align-items: center;
    width: 85vw;
    height: 60px;
    position: relative;
    background-color: var(--track-bg);

    .roadLine {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 4px;
      background: repeating-linear-gradient(to right, white 0 20px, transparent 0px 40px);
      transform: translateY(-50%);
      opacity: 1;
      z-index: 0;
    }

    .finishLine {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 20px;
      background-image: url(../../assets/finish.svg);
      background-size: 100% auto;
      background-repeat: repeat-y;
      z-index: 1;
    }

    .carBox {
      position: absolute;
      left: 0;
      width: 50px;
      height: 41px;
      z-index: 2;
    }
  }
}
